@charset "UTF-8";
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.input
{
    width:50%;
    border:teal;
    padding:7px 18px;
    background: white;
}
 .input1{
    width: 20%;
}
 .label{
    color:#aaa;
    font-size:12px;
    text-transform: uppercase;
}

#userLabel{
    padding-top: 5px;
}
small {
    color: teal;
    font-weight:bold;
    font-size:11px;
    display:block;
    margin-bottom:15px;
}

a {
    color:#26689f;
    text-decoration:none;
}
small a {
    color:teal;
}
a:hover { text-decoration:none; }
p { margin: 0px 0px 15px 0px; }

a.button {
    background:#32312f url(../images/account/button_bg.jpg) repeat-x;
    padding:5px 10px 5px 10px;
    color: #ffffff;
    text-decoration: none;
    border:1px solid #32312f;
    text-transform:uppercase;
    font-size:9px;
    line-height:25px;
}

/*TABLE*/
.simple-little-table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 70%;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
    border-collapse: separate;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    /* margin-left: 10%; */
    /* margin-right: 2%; */
    text-align: center;
    display: block;
    position: relative;
    text-transform: uppercase;
    margin: 40px auto;
    margin-top: 5%;
    width: 95%;
    max-width: 800px;
    word-wrap: break-word;

}


.simple-little-table tbody{
    display: block;
    max-height: 390px;
    overflow: hidden;
    overflow-y: auto;
}



thead th {
    width: 250px;

}
.simple-little-table thead {
    display: block;
}


tbody td {
    width: 250px;
    max-width: 250px;
    overflow-x: auto;
}

.simple-little-table th {
    font-weight:bold;
//padding:15px 25px 15px 25px;
    padding:3% 5% 3% 5%;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
    text-align: center;
    padding-left:5%;
}
.simple-little-table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.simple-little-table tr{
    text-align: center;
    padding-left:5%;
    max-height: 40px;
}
.simple-little-table tr td:first-child{
    text-align: left;
    padding-left:5%;
    border-left: 0;
}
.simple-little-table tr td {
    padding:2%;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
    border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
.simple-little-table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.simple-little-table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
.simple-little-table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
